__pycache__/
.vscode
.DS_Store
venv/

logs/
swe_bench/predictions/
swe_bench/tmp_repos/
swe_bench/repos/
swe_bench/SWE-bench/
swe_bench/logs/
swe_bench/*.json

initial_swe/
initial_polyglot/
results/

polyglot/polyglot_benchmark_metadata.json
polyglot/polyglot-benchmark/
polyglot/predictions/